.body{
    background-color: #535ecf;}
/*Button Back*/
.buttonBack{
    text-align: center;
    margin-top: 20px;}

.back-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2d78d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;}

.back-button:hover {
    background-color: #535ecf;}

